@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
body {
    text-align: center;
    background: url("https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png") no-repeat center fixed;
    background-size: cover;
}
h1 {
    align-self: center;
    background-color: #97c6f3e7 ;
    color: mintcream;
    font-family: 'Major Mono Display', monospace;
    /*max-width: fit-content;*/
}